<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.html.ejs') %>
  </head>
  <body>
    <div class="container">
      <form action="/books" method="POST">
        <fieldset>
          <legend>Add a Book</legend>
          <label for="title">TITLE</label>
          <input type="text" name="title" id="title"/><br/>
          <label for="author">AUTHOR</label>
          <input type="text" name="author" id="author"/><br/>
          <label for="img">COVER IMAGE</label>
          <input type="text" name="img" id="img"/><br/>
          <label for="factoid">FACT</label>
          <input type="text" name="factoid" id="factoid"/><br/>
          <input type="submit" value="SUBMIT" class="add-btn" />
        </fieldset>
      </form>
      <nav>
        <button><a href="/">Home</a></button>
      </nav>
    </div>
  </body>
</html>
