<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- MAIN -->
    <form action="/books" method="POST">

      <label for="title">TITLE</label>
      <input type="text" name="title" id="title"/>
      <label for="author">AUTHOR</label>
      <input type="text" name="author" id="author"/>
      <label for="img">IMAGE</label>
      <input type="text" name="img" id="img"/>
      <label for="factoid">FACT</label>
      <input type="text" name="factoid" id="factoid"/>
    <input type="submit" value="ADD" class="add-btn" />
    </form>
    <nav>
    <a href="/">Back</a>
    </nav>

  </body>
</html>
