<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1><%= book.title %></h1>
      <h6><%= book.author %></h6>
      <h6><%= book.img %></h6>
      <h6><%= book.factoid %></h6>
    </div>
  </body>
</html>
